.competition_layout {
  background: #FAF7FF;

  .banner {
    background-image: url('~@/assets/images/competition/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 528px;
    // background-color: #713DC1;
  }

  .content {
    @extend %main-content-wrap;
    margin-top: -60px;
  }

  .tabs {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px 0px rgba(113, 61, 193, 0.08);
    border-radius: 40px;
    display: flex;
    line-height: 80px;
    // align-items: center;
    justify-content: space-around;
    position: relative;

    &__item {
      cursor: pointer;
      position: relative;
      height: 100%;
      min-width: 96px;
      font-size: 24px;
      font-weight: 500;

      &_active {
        color: #713DC1;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: #713DC1;
          bottom: 0;
          left: 0;
        }
      }
    }

  }
}