@import '@/common/styles/param.scss';

.news_deatil {


  .breadcrumb {
    &_wrap {
      padding: 16px;
      border-top: solid 1px #ECEFF6;
    }
    overflow: hidden;
    @extend %main-content-wrap;
    padding-bottom: 16px;
    border-bottom: solid 1px #ECEFF6;

    // &::after {
    //   content: '';
    //   display: block;
    //   height: 1px;
    //   background: #ECEFF6;
    //   margin-top: 16px;
    // }
  }


  .article {
    @extend %main-content-wrap;
    margin-bottom: 96px;
    &_title {
      font-size: 32px;
      font-weight: 500;
      color: #151D35;
      margin-top: 24px;
    }

    &_time {
      font-size: 14px;
      color: #B8BDCC;
      margin-top: 16px;
    }

    &_content {
      margin-top: 24px;
      font-size: 18px;
      color: #151D35;
      line-height: 1.5;
    }
  }
}