@mixin main-content-warp-mixin($current-width) {
  max-width: $current-width;
  margin: 0 auto;
}

// 当屏幕尺寸大于1360px时
@media only screen and (min-width: 1360px) {
  $current-width: 1360px;

  %main-content-wrap {
    @include main-content-warp-mixin($current-width);
  }
}

// 当屏幕尺寸大于980，小于1360px时
@media only screen and (min-width: 980px) and (max-width: 1360px) {
  $current-width: 100%;

  %main-content-wrap {
    padding-left: 10px;
    padding-right: 10px;
    @include main-content-warp-mixin($current-width);
  }
}

// 当屏幕尺寸小于980px时
@media only screen and (max-width: 980px) {
  // $current-width: 980px;
  $current-width: 100%;

  %main-content-wrap {
    padding-left: 10px;
    padding-right: 10px;
    @include main-content-warp-mixin($current-width);
  }
}

// 设备像素比 为2时
@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
only screen and (min-resolution: 2dppx) {
  %border-1px {
    height: 1px;
    transform: scaleY(0.5);
  }

  %border-1px-h {
    width: 1px;
    transform: scaleX(0.5);
  }
}

/*设备像素比*/
@media only screen and (-webkit-min-device-pixel-ratio: 3.0),
only screen and (min-resolution: 3dppx) {
  %border-1px {
    transform: scaleY(0.33);
    height: 1px;
  }

  %border-1px-h {
    width: 1px;
    transform: scaleX(0.33);
  }
}